@font-face {
	font-family: myFont;
	src: url("./bradley-hand-itc.ttf");
	}

#game-canvas-container {
	width: 1024px;
    height: 512px;
    margin: 0px auto;
    border: 2px solid black;
}
#continue-button {
    font-size: 30px;
    font-family: myFont;
    font-weight: bold;
    font: black;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 15;
    display: block;
    padding: 5px;
    margin-left: 430px;
    margin-right: 400px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background: #E8871D;
    text-decoration: none;
}

canvas {
    position: absolute;
}

#game-canvas {
    z-index: 10
}

#background-canvas {
    z-index: 1
}

#soundBtn {
    float: right;
    padding: 10px;
}

#soundOnImg {
    width: 20px;
    z-index: 30;
    position: relative;
}

/* label {
    position: relative;
    float: right;
    z-index: 20;
    font-size: 20px;
    padding: 10px;
} */

#scores {
    position: relative;
    z-index: 20;
    padding: 10px;
}

h2, h4, p{
    display: inline;
    font-family: myFont;
}
